/* Mobile first: */
    @import url("https://fonts.googleapis.com/css?family=Lato");

    *, *:before, *:after {
      box-sizing: border-box; /* overrides content-box, removes the maths in calculating width! */
      transition: all 0.5s ease;
    }

    html {  
      height: 100%;
    }

    body {
        background: radial-gradient(#E648A7, #F7C912);
        font-family: 'Lato', Arial, sans-serif;
        font-size: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    nav {
      color: white;
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: black;
    }

    nav ul {
      padding: 0;
      margin: 0;
      height: 100%;
    }
    nav li {
      padding: 15px 10px;
    }

    /* hamburger checkbox */
    .nav-trigger {
      /* hide the checkbox input */
      position: absolute;
      left: -100px;
    }

    .nav-trigger:checked + label {
      left: 215px;
    }

    .nav-trigger:checked ~ .myweather {
      left: 200px;
    }

    /* hamburger */
    label[for="nav-trigger"] {
      position: fixed;
      left: 15px; 
      top: 15px;
      z-index: 2;
      height: 30px;
      width: 30px;
      cursor: pointer;
      background-image: url("https://cdn2.iconfinder.com/data/icons/ios-tab-bar/25/Hamburger-128.png");
      background-size: contain;
    }

    .myweather {
        width: 100%;        
        z-index:1;
        position: relative;
        top: 0;
        left:0;        
    }

    #mapcanvas {
        margin-bottom: 10px;   
    }

    .condition {
      padding: 5% 0;
      font-size: 1.2em;
      text-transform: uppercase;
      background-color: white;
    }

    .condition, video {
      border:1px solid white;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
    }

    
/* Tablets: */
    @media only screen and (min-width: 600px) { 
      .myweather {
        max-width: 600px;        
      }

    }
    
/* Desktop: */
    @media only screen and (min-width: 601px) {
      body {
        background: radial-gradient(#D85618, #F7C912);     
        flex-direction: column;
      }

      nav {
        position: relative;
      }

      /* hamburger */
      label[for="nav-trigger"] {
        left: -100px;
      }      

      nav li {
        display: inline-block;
      }

      .myweather {
          max-width: 960px;        
      }

      .myconditions {
        display: flex;
        justify-content: space-between; 
        flex-wrap: wrap;
      }
      
      .condition, video {
        width: 30%;
      }

    }